body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: purple;
    z-index: 1000;
    transition: background-color 0.3s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: black; 
    background-color: white;
}

nav ul li {
    margin: 0 15px;
}

div {
    height: 100vh;
    padding: 60px 20px;
}

#home {
    background-color: whitesmoke;
}

#about {
    background-color: lightgray;
}

#contact {
    background-color: gray;
}

html {
    scroll-behavior: smooth;
}


